<% if @teams.count == 0 %>
	<h1>There are no teams at the moment</h1>
<% else %>
	<table>
		<tr>
			<th>Name</th>
			<th>By</th>
		</tr>
		<% @teams.each do |team| %>
			<tr>
				<td><%= link_to team.name, team_path(team) %></td>
				<td><%= User.find(team.user_id).name %></td>
				<% unless UserTeamApproval.find_by(user_id: current_user.id, team_id: team.id) || current_user.id == team.user_id %>
				<td><%= link_to "Join", user_team_approvals_path(user_id: current_user.id, team_id: team.id), method: :create, data: {confirm:"Are you sure you want to send request to join the team???"} %> </td>
				<% end %>
			</tr>
		<% end %>
	</table>
	<%= link_to "My profile", user_path(current_user) %>
<% end %>