<% if @approvals.count == 0 %>
	<h1>No request for now</h1>
<% else %>
	<% @approvals.each do |approval| %>
		<p>Request From: <%= User.find(approval.user_id).name %></p>
		<%= link_to "Accept", accept_approval_path(approval.id), method: :post %><br>
		<%= link_to "Decline", decline_approval_path(approval.id), method: :post %>
	<% end %>
<% end %>
<%= link_to "Back", team_path(@team) %>