<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="well" id="sign-in-up">
          <div class="form-group">
          <%= image_tag("https://gtmetrix.com/reports/intense-bastion-64089.herokuapp.com/DgDejM8W/pagespeed/logo-bb5c5dcbde31d814e58e3663f5ed533420d40768daed1_4c3255f379523cbd6f2fdda02f13a2bf.png") %>
          </div>
          <div id="clearance" class="sign-in">

          <%= render partial: '/sessions/form' %>


          </div>

      </div>
          <div class="other-links">
          <% if Clearance.configuration.allow_sign_up? %>
          <p>Don't have an account? <%= link_to "SIGN UP", sign_up_path %></p>
          <% end %>
          </div>
          <br></br>
    </div>
  </div>
</div>
