<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="well">
          <div class="form-group">
          <%= image_tag("logo.png", class: "form-logo") %>
          </div>
          <div id="clearance" class="sign-in">
   
          <%= render partial: '/sessions/form' %>
          <a href="/auth/facebook"><%=image_tag("fb-login.png", style: "width:200px; cursor:pointer")%></a>

          </div>
       
      </div>
          <div class="other-links">
          <% if Clearance.configuration.allow_sign_up? %>
          <p>Don't have an account? <%= link_to "SIGN UP", sign_up_path %></p>
          <% end %>
          </div>
          <br></br>
    </div>
  </div>
</div>
