<%= link_to "Sign in", sign_in_path %>
<%= link_to "Sign up", sign_up_path %>
<%= link_to "Sign out", sign_out_path, method: :delete %>
<br>
<div class="vid_container">
<video class="landing_video" autoplay loop>
  <source src="group_vid.mp4" type="video/mp4">
</video>
<h1 class="vid_content">JOIN.ORGANIZE.EARN</h1>
</div>
