#navbar6 {
  width: 1270px;
}
.example6 .navbar-brand{
  background: url('https://gtmetrix.com/reports/intense-bastion-64089.herokuapp.com/DgDejM8W/pagespeed/logo-bb5c5dcbde31d814e58e3663f5ed533420d40768daed1_4c3255f379523cbd6f2fdda02f13a2bf.png') center / contain no-repeat;
  width: 220px;
  height: 58px;
}

.navbar {
	margin-left: -178px;
	background-color: rgb(33, 39, 53);
}

.dropdown {
	padding-top: 4px;
}

.nav-tab {
	padding-top: 4px;
}
