#navbar6 {
  width: 1270px;
}
.example6 .navbar-brand{
  background: url('https://gtmetrix.com/reports/intense-bastion-64089.herokuapp.com/eHGvBJ3R/pagespeed/logo_eaac63aa7a65049d5eb2b0751af732c9.png') center / contain no-repeat;
  width: 220px;
  height: 64px;
}

.navbar {
	margin-left: -178px;
	background-color: rgb(33, 39, 53);
}

.dropdown {
	padding-top: 4px;
}

.nav-tab {
	padding-top: 4px;
}
