#navbar6 {
  width: 1270px;
}
.example6 .navbar-brand{
  background: url('https://s3-ap-southeast-1.amazonaws.com/sportsjoe/logo.png') center / contain no-repeat;
  width: 220px;
  height: 58px;
}

.navbar {
	margin-left: -178px;
	background-color: rgb(33, 39, 53);
}

.dropdown {
	padding-top: 4px;
}

.nav-tab {
	padding-top: 4px;
}
