.well {
	background-color: rgb(33, 39, 53);
	width: 100%;
	margin-bottom: 20px;
}

.form-group {
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.form-logo {
	max-width: 120px;
	max-height: 50px;
}
