// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tournament-new {
	background-color: rgb(33, 39, 53);
	width: 150%;
	margin-top: 50px;
}

#new-tour-form {
	margin-right: 60px;
	margin-left: 60px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.form-logo {
	max-width: 120px;
	max-height: 50px;
}

#new-tour-header {
	font-family: NTR;
}

#tournament-index {
	padding: 15px;
	margin-top: 10px;
	border-color: transparent;
}

#tournament-index:hover {
	border-color: white;
}

hr{
  border-top: 1px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #212735;
}

p {
	font-family: Raleway;
}

.col-sm-4 {
	padding-top: 10px;
}

.col-sm-5 {
	padding-top: 10px;
}

.card.well {
	margin-top: 0px;
	border-radius: 20px;
}

.tournament-team {
	font-family: Raleway;
	padding-top: 10px;
}

.description {
	padding-top: 10px
}

.img-responsive {
	width: 320px;
	height: 320px;
}

.img-sports {
	width: 220px;
	height: 220px;
}

.img-user-show{
	width: 150px;
	height: 150px;
}



/*
 *  Bracket Styles
*/

main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }


li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }
