// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tournament-new {
	background-color: rgb(33, 39, 53);
	width: 140%;
	margin-top: 50px;
}

#new-tour-form {
	margin-right: 60px;
	margin-left: 60px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.form-logo {
	max-width: 120px;
	max-height: 50px;
}

#new-tour-header {
	font-family: NTR;
}

#tournament-index {
	padding: 15px;
	margin-top: 10px;
	border-color: transparent;
}

#tournament-index:hover {
	border-color: white;
}

hr{
  border-top: 1px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #212735;
}

p {
	font-family: Raleway;
}

.col-sm-4 {
	padding-top: 10px;
}

.col-sm-5 {
	padding-top: 10px;
}

.card.well {
	margin-top: 0px;
	border-radius: 20px;
}

.tournament-team {
	font-family: Raleway;
	padding-top: 10px;
}

.description {
	padding-top: 10px
}

.img-responsive {
	width: 300px;
	height: 300px;
}

.img-sports {
	width: 200px;
	height: 200px;
}

.img-user-show{
	width: 150px;
	height: 150px;
}
