.well {
	background-color: rgb(33, 39, 53);
	width: 90%;
	margin-top: 50px;
}

.form-group {
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.form-logo {
	max-width: 120px;
	max-height: 50px;
}

.user-show{
	padding: 0;
}

.profile-title{
	width: 90%;
	margin-top: 10px;
}
.profile-well{
	margin: 0;
	width: 90%;
}

.right-text{
	text-align: right;
}

.well-content{
	color: gray;
}

.lighter-link{
	color: lightblue;
}

.profile-option{
	text-align: right;
}

.line-seperate{
	margin-bottom: 45px;
}

.text-field{
	width: 50%;
	height: 40px;
	font-size: 21px;
	color: black;
}

.edit-button{
	color: black;
}
