// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing_video{
  position: absolute;
  width: 100%;
  height: 700px;
  object-fit: fill;
  opacity: 0.85;
  z-index: -1;
}

.vid_content{
  width: 100%;
  height: 700px;
}

.table-logo{
  vertical-align: top;
  width: 100px !important;
  padding-top: 15px;
  padding-left: 21px;
}
.logo{
  width: 100px;
  border-radius: 8%
}

.log-in-btn{
  vertical-align: top;
  padding-top: 15px;
  padding-right: 21px;
  text-align: right;
  width: 100px !important;
}

.log-in{
  background: none;
  border-width: medium;
  width: 100px;
  font-family: Hind Madurai;
  font-size: 15px;
}

.title{
  text-align: center;
  color: white;
  font-family: Modi Thorson;
  text-shadow: 2px 3px black;
}
.title-caption{
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  font-family: Hind Madurai;
  padding-bottom: 10px;
}
.title-button{
  margin: auto;
  display: block;
  width: 150px;
  padding: 10px;
  font-family: Hind Madurai;
  font-size: 20px;
}

.landing_container{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  background: black;
  padding-bottom: 10px;
}

.first-line{
  width: 400px;
  border: 1.5px solid orange;
}

.section-title-left{
  color: white;
}

.section-image-right{
  height: 350px;
}

.section-image-left{
  height: 290px;
}

.section-content-middle{
  color: white;
  margin: 0;
  padding-top: 25px;
  text-align: center;
}

.icon-section{
  background: #808080;
  height: 400px;
}

.tournament-icons{
  width: 100%;
}

h4{
  font-family: NTR;
  font-size: 25px;
}

.landing-icon{
  padding-top: 35px;
  text-align: center;
}

.landing-caption{
  color: white;
  padding-top: 10px;
  font-style: italic;
  text-align: center;
}

.icon-image{
  width: 120px;
}

.left-space{
  padding-left: 100px;
}
.right-space{
  padding-right: 100px;
}

h1{
  font-family: Modi Thorson;
  font-size: 50px;
  font-weight: 500px;
  transform: scale(1, 1.2);
}

@media screen and (min-width: 480px) {
  .section-content-right{
    text-align: center;
  }
  .section-content-left{
    text-align: center;
  }
}
