<div class="container footer">
  <div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-3">
      <%=image_tag("https://s3-ap-southeast-1.amazonaws.com/sportsjoe/logo.png", style: "border-radius:10%")%><br><br>
        <p style="color:white">
        SportsJoe is a product made whole by a small team of coders residing in a longitude/latitude cross which points to a place called NEXT Academy. Enjoy our late nights!
        </p>
        <p style="color:gray">SportsJoe © 2017</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <p style="font-size:15px; color:white">
        Help <br>
        Jobs <br>
        FAQ <br>
        Terms of Service <br>
        Privacy Policy <br> <br>
        <strong>Tel :</strong> +60 3-9212 8158 <br>
        <strong>Mail :</strong> sportsjoe@mail.com
      </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <p style="font-size:15px; color:white">AG-7, Glomac Damansara, Jalan Damansara, Tmn Tun Dr Ismail, 60000, Malaysia <br>
      <strong>NEXT Academy</strong><br><br>
      Our Social Media :</p>
      <a href=""><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href=""><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href=""><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href=""><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
